<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Add Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/list">Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/update">Update Products</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>